*
  font-family: 'Mplus1p', sans-serif
  box-sizing: border-box
  transition: 0.5s
  scroll-behavior: smooth

*:focus
  outline: none

a
  text-decoration: none

ul
  margin: 0
  padding: 0

.container
  max-width: 1140px
  margin: auto

.button
  padding: 10px 30px
  border: 2px solid #FC6060
  border-radius: 60px
  background-color: transparent
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #FFFFFF

.secttion-title
  margin: 55px auto 30px auto
  width: 220px
  text-align: center
  font-weight: 700
  font-size: 34px
  line-height: 53px
  color: #000000
  &::after
    left: 0
    right: 0
    bottom: -5px
    content: ''
    display: block
    margin-left: auto
    margin-right: auto
    width: 94%
    height: 3px
    background-color: #FC6060

.subtitle
  margin: 0
  margin-top: 30px
  margin-bottom: 15px
  width: 770px
  font-weight: 700
  font-size: 24px
  line-height: 42px
  color: #000000

.text
  width: 80%
  margin: 0
  margin-bottom: 10px
  font-weight: 400
  font-size: 18px
  line-height: 30px
  color: #000000

.to-top
  position: fixed
  right: 20px
  bottom: 20px
  z-index: 50
  display: flex
  background-color: $red
  border-radius: 50%
  align-items: center
  justify-content: center
  opacity: 0.8
  width: 40px
  height: 40px
  &--hidden
    display: none
  &-icon
    width: 22px
    height: 20px
    fill: #ffffff
    transform: rotate(180deg)
