.advantages
  &-example
    width: 95%
    margin-top: 15px
    &__hidden
      display: none
  &-button
    display: inline-block
    margin-top: 5px
    font-weight: 700
    font-size: 16px
    line-height: 30px
    color: #000000

.button
  &__hide
    display: none
