.portfolio
  padding-bottom: 50px
  &-title
    width: 415px
  &-item
    &__title
      line-height: 36px
    &__subtitle
      margin-top: 30px
      margin-bottom: 10px
      font-size: 20px
      line-height: 30px
      font-weight: 700
      &--s
        margin-top: 15px
        margin-bottom: 5px
        font-size: 16px
        line-height: 24px
    &__work-list
      margin-left: 20px
    &__link
      font-size: 14px
      line-height: 21px
      color: inherit
    &__number
      font-size: 14px
      line-height: 21px
    &__media
      display: flex
      align-items: flex-start
      justify-content: space-between
    &__right-col
      margin-left: 35px
      max-width: 30%
      text-align: right
    &__video
      width: 70%
      //min-height: 480px
      //object-fit: cover
